<ul class="socials" [class.is-horizontal]="orientation() === 'horizontal'">
  @for (link of links(); track link.href) {
    <li>
      <a [href]="link.href" [attr.aria-label]="link.label" target="_blank" rel="noopener">

        <img class="socials__icon socials__icon--normal" [src]="'assets/figma/social/' + getNormalIconName(link.icon) + '.svg'" alt="" aria-hidden="true" />

        <img class="socials__icon socials__icon--hover" [src]="'assets/figma/social/' + getHoverIconName(link.icon) + '.svg'" alt="" aria-hidden="true" />
      </a>
    </li>
  }
</ul>
